<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    {% block header %}
    <!-- Header goes here -->
    {% endblock %}

    <main>
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
        <div id="toast-container"></div>
    </main>

    {% block footer %}
    <!-- Footer goes here -->
    {% endblock %}

    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                handleFlashedMessages({{ messages|tojson }});
            {% endif %}
        {% endwith %}
    </script>
    {% block scripts %}
    <!-- Scripts go here -->
    {% endblock %}
</body>
</html>
