.operations-section {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.operations-section h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.operation-form {
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    gap: 1rem;
}

.input-group input, .input-group select {
    flex: 1;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.875rem;
}


.operations-list {
    border: 1px solid #eee;
    border-radius: 6px;
}

.operation-header {
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 1rem;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    color: #666;
    text-align: center;
}

.operation-header span:first-child {
    text-align: left;
}

.operation-item {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.operation-item:last-child {
    border-bottom: none;
}

.operation-name {
    text-align: left;
}

.operation-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
}

.type i {
    font-size: 0.75rem;
}

.type.expense {
    color: #dc3545;
}

.type.expense i {
    color: #dc3545;
}

.type.income {
    color: #28a745;
}

.type.income i {
    color: #28a745;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .metrics-grid {
        grid-template-columns: 1fr;
    }

    .input-group {
        flex-direction: column;
    }

    .operation-header, .category-item {
        grid-template-columns: 1fr 120px;
    }

    .type {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .operation-header, .operation-item {
        grid-template-columns: 1fr 100px;
    }

    .operation-type {
        width: 30px;
        height: 30px;
        font-size: 0.875rem;
    }

    .type {
        gap: 4px;
    }
}
